.Toast {
  align-items: center;
  animation-duration: 0.5s;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 14px;
  bottom: 14px;
  box-shadow: 0 0 1px #85da1a inset;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  left: 14px;
  line-height: 1.4;
  overflow: visible !important;
  padding: 7px 14px;
  position: fixed;
  text-align: center;
  transition: 0.5s all;
  z-index: 99999;
}

.Toast.ERR {
  background: rgba(255, 0, 0, 0.9);
  box-shadow: 0 0 3px #900 inset;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: bold;
}

.Toast.ERR > .x {
  background-image: var(--svgX);
  filter: invert(42%) sepia(1) saturate(15);
}

.Toast.ERR > .x:hover {
  filter: invert(10%) sepia(1) saturate(47);
}

.Toast > .x {
  background: var(--svgX) 0 0/cover no-repeat;
  cursor: pointer;
  display: block;
  height: 18px;
  margin-left: 0.5em;
  position: absolute;
  right: -26px;
  user-select: none;
  width: 18px;
}

.Toast > .x:hover {
  filter: invert(42%) sepia(1) saturate(47);
}

.Toast > div {
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}
